<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Ctrl + PET - Agendar Cita</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
        </style>
    
    <link rel="stylesheet" href="../static/styles/styles.css">

 

</head>
<body class="pagina-citas">
    <input type="checkbox" id="menu-toggle" hidden>
    <header>
         <div class="logo">
            <img src="../static/imgs/iconos/logo.png" alt="logo de ctrl+PET.">
        </div>
        <nav class="header-nav">
            <a href="../templates/index.html">Inicio</a>
            <a href="../templates/servicios.html">Servicios</a>
            <a href="../templates/contacto.html">Contacto</a>
        </nav>
        <div class="botones-header">
            <a href="../templates/login.html" class="btn-login">Iniciar Sesión</a>
            <a href="../templates/registro.html" class="btn-register">Registrarse</a>
        </div>

     <label for="menu-hamburguer" id="icon-menu">
    ☰ </label>
    </header> 
    <main>
        <section class = "contenedor-reserva-logueado" th:if="${usuario != null}">
            <div class="imagen-reserva-logueado">
                 <p>¡Estamos ansiosos por verte!</p>
                <img src = "../static/imgs/otras/imagen-agendarConLogin.png" alt=Veterinaria con un gatito>
            </div>
            <div class = "formulario-reserva-logueado"> 
                <h2>Agendar Cita</h2>
               <div class="campo-formulario"> 
                    <label for="mascota">Mascota</label>
                    <select id="mascota" required>
                        <option 
                                th:each="mascota : ${usuario.mascotas}" 
                                th:value="${mascota.id}" 
                                th:text="${mascota.nombre}">
                        </option>
                    </select>
                </div>
            <div class="campo-formulario">
                <label for="servicio">Servicio:</label>
                <select id="servicio" required>
                     <option value="">Selecciona un servicio...</option>
                        <option value="consulta">Consulta General</option>
                        <option value="estetica">Estética & Spa</option>
                        <option value="dental">Cuidado Dental</option>
                        <option value="diagnostico">Diagnóstico</option>
                        <option value="cirugia">Cirugía</option>
                        <option value="hospitalizacion">Hospitalización</option>
                </select>
            </div>

            <div class="campo-formulario">
                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" required>
            </div>
            <div class="campo-formulario">
                <label for="hora">Hora</label>
                <select id="hora" required>
                    <option value="">Seleccion una hora</option>
                     <option value="9:00">9:00 AM</option>
                      <option value="10:00">10:00 AM</option>
                       <option value="11:00">11:00 AM</option>
                </select>
            </div>
            <button class="btn-agendar">Agendar mi cita</button>
            </div>
        </section>

        <section class="contenedor-reserva-sin-login" th:unless="${usuario != null}">

            <div class="imagen-reserva-sin-login">
                <p>¿Cambiaste de opinión y sí deseas un expediente digital para tu mascota?  <a th:href="@{/registro}">¡Regístrate!</a></p>
                <img src="imgs/otras/imagen-reserva-sinLogin.png" alt="Perro parado en dos patas">
            </div>
            <input type="checkbox" id="control-modal-reserva" class="modal-switch" checked hidden>

                <div class="modal-overlay">
                    <div class="modal-caja">
                        
                        <p><span>💡Tip</span>: Te recomendamos registrarte primero.
                             Al hacerlo, crearemos un expediente digital para tu mascota donde se guardarán 
                             automáticamente sus resultados médicos, laboratorios y recordatorios de salud. 
                             ¡Ideal para llevar su historial sin papeleos!</p>
                        <div class="form-botones-reserva">
                            <label for="control-modal-reserva" class="btn-no-registrarme">Continuar sin registrarme</label>
                            <a th:href="@{/registro}" class="btn-registrarme">¡Registrarme y Agendar!</a>

                        </div>
                       
                    </div>
                </div>

            
            <form class="formulario-reserva-sin-login">
                    <div class="campo-formulario">
                        <label for="nombre">Nombre completo</label>
                        <input type="text" id="nombre" placeholder="Ej. Luis Pérez" required>
                    </div>
                    <div class="campo-formulario">
                        <label for="telefono">Teléfono</label>
                        <input type="tel" id="telefono" placeholder="Ej. 6441234567" required>
                    </div>
                    <div class="campo-formulario">
                        <label for="nombre-mascota">Nombre de tu mascota:</label>
                        <input type="text" id="nombre-mascota" placeholder="Ej. Oreo" required>
                    </div>
                    <div class="campo-formulario">

                    <label for="tipo-mascota">Tipo de mascota</label>
                    <select id="tipo-mascota" required>
                        <option value="">Selecciona un tipo...</option>
                        <option value="perro">Perro</option>
                        <option value="gato">Gato</option>
                        <option value="roedor">Roedor</option>
                        <option value="ave">Ave</option>
                    </select>
                    </div>

                    <div class="campo-formulario">
                    <label for="raza-mascota">Raza de tu mascota:</label>
                     <select id="raza-mascota" required>
                        <option value="">Selecciona una raza...</option>
                    </select>
                    </div>
                    <div class="campo-formulario">
                    <label for="servicio">Servicio:</label>
                    <select id="servicio" required>
                        <option value="">Selecciona un servicio...</option>
                        <option value="consulta">Consulta</option>
                        <option value="estetica">Estética & Spa</option>
                        <option value="dental">Cuidado Dental</option>
                        <option value="diagnostico">Diagnóstico</option>
                        <option value="cirugia">Cirugía</option>
                        <option value="hospitalizacion">Hospitalización</option>
                    </select>
                    </div>

                     <div class="campo-formulario">
                    <label for="fecha">Fecha</label>
                    <input type="date" id="fecha" required>
                    </div>

                    <div class="campo-formulario">
                        <label for="hora">Hora</label>
                        <input type="time" id="hora" required>
                    </div>
            </form>

        </section>
    </main>
    <footer>
        <p>&copy; Copyright Ctrl+PET 2026</p>
    </footer>
</body>
</html>