<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ctrl + PET - Dashboard Administrador</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
        </style>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>

    <main>
        
        <section id="dashboard-admin">
            <input type="radio" name="nav-pestana" id="pestana-inicio" checked>
            <input type="radio" name="nav-pestana" id="pestana-citas">
            <input type="radio" name="nav-pestana" id="pestana-servicios">
            <input type="radio" name="nav-pestana" id="pestana-veterinarios">
            <input type="radio" name="nav-pestana" id="pestana-sucursales">

            <aside class="nav-aside-admin">
                <input type="checkbox" id="anvorguesa">
                    <label for="anvorguesa" class="menu-button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                <nav class="header-nav-admin">
                    <img src="/imgs/iconos/logo-dark.png">
                    <label for="pestana-inicio" class="enlace-nav">Inicio</label>
                    <label for="pestana-citas" class="enlace-nav">Citas</label>
                    <label for="pestana-servicios" class="enlace-nav">Servicios</label>
                    <label for="pestana-veterinarios" class="enlace-nav">Veterinarios</label>
                    <label for="pestana-sucursales" class="enlace-nav">Sucursales</label>
                    <a th:href="@{/login-admin}" class="enlace-nav">Cerrar sesión</a>
                </nav>
            </aside>
            
           
            <section id="admin-inicio">
                <div class="tag-rol">
                    <span th:text="${empleado.puesto}">Rol activo</span>
                </div>
                <div class="encabezado-admin">
                    <h1>Dashboard Administrativo</h1>
                </div>
                <div class="buscador-citas">
                    <input type="text" name="buscar" placeholder="Buscar"></input>
                    <a href="" class="btn-agenda">Ver tabla de dueños</a>
                    <a href="" class="btn-agenda">Ver tabla de mascotas</a>
                    <a href="" class="btn-agenda">Ver tabla de citas</a>
                </div>
               
                <div class="area-tabla">
                    <table class="tabla-citas-admin">
                        <thead>
                            <tr>
                                <th>Dueño</th>
                                <th>Mascota</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Servicio</th>
                                <th>Veterinario</th>
                                <th>Costo</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr th:each="reserva : ${listaReservas}">
                                <th th:text="${reserva.mascota.dueno.nombre}">Dueño</th>
                                <th th:text="${reserva.mascota.nombre}">Mascota</th>
                                <th th:text="${reserva.fecha}">Fecha</th>
                                <th th:text="${reserva.fecha}">Hora</th>
                                <th th:text="${reserva.servicio.tipo}">Servicio</th>
                                <th th:text="${reserva.idEmpleado}">Veterinario</th>
                                <th th:text="${'$' + reserva.servicio.costo}">Costo</th>
                                <th th:text="${reserva.estado}">Estado</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                
            </section>

            <section id="admin-citas">
                <div class="tag-rol">
                    <span th:text="${empleado.puesto}">Rol activo</span>
                </div>
                <div class="encabezado-admin">
                    <h1>Gestor de Citas</h1>
                </div>

                <div class="buscador-citas">
                    <input type="text" name="buscar" placeholder="Buscar cita"></input>
                    <a href="" class="btn-agenda">Agendar cita</a>
                </div>

                <div class="area-tabla">

                <table class="tabla-citas-admin">
                    <thead>
                        <tr>
                            <th>Dueño</th>
                            <th>Mascota</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Servicio</th>
                            <th>Veterinario</th>
                            <th>Costo</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                  <tbody>
                    <tr th:each="reserva : ${listaReservas}" tabindex="0">
                        <th th:text="${reserva.mascota.dueno.nombre}">Dueño</th>
                                <th th:text="${reserva.mascota.nombre}">Mascota</th>
                                <th th:text="${reserva.fecha}">Fecha</th>
                                <th th:text="${reserva.fecha}">Hora</th>
                                <th th:text="${reserva.servicio.tipo}">Servicio</th>
                                <th th:text="${reserva.idEmpleado}">Veterinario</th>
                                <th th:text="${'$' + reserva.servicio.costo}">Costo</th>
                                <th th:text="${reserva.estado}">Estado</th>
                        <td class="celda-accion">
                            <div class="opciones">
                                <a th:href="@{/admin/citas/editar/{id}(id=${reserva.idReserva})}">Editar</a>
                                <a th:href="@{/admin/citas/eliminar/{id}(id=${reserva.idReserva})}"
                                   onclick="return confirm('¿Seguro?')">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>
            </section>

            <section id="admin-servicios">
                <div class="tag-rol">
                    <span th:text="${empleado.puesto}">Rol activo</span>
                </div>
                <div class="encabezado-admin">
                    <h1>Gestor de Servicios</h1>
                </div> 
                <div class="agregar">
                    <label for="control-modal-servicio" class="btn-agenda">Agregar servicio</label>
                </div>
                <div class="contenedor-servicios-admin">
                    <div class="servicio-caja-admin" th:each="servicio : ${listaServicios}">
                        <div class="servicio-info">
                            <h3 th:text="${servicio.tipo}">Consulta General</h3>
                            <p class="descripcion" th:text="${servicio.descripcion}">Descripción...</p>
                            <span class="precio" th:text="${ '$' + servicio.costo}">$300</span>
                        </div>
                        <div class="servicio-opciones">
                            <a href="#modal-editar-servicio" class="btn-editar">Editar</a>
                            <a th:href="@{/admin/servicios/eliminar/{id}(id=${servicio.idServicio})}"
                               class="btn-eliminar" onclick="return confirm('¿Seguro que deseas eliminar este servicio?')">Eliminar</a>
                        </div>
                    </div>
                </div>

                <input type="checkbox" id="control-modal-servicio" class="modal-switch" hidden>

                <div class="modal-overlay">
                    <div class="modal-caja">
                        
                        <h3>Nuevo Servicio</h3>
                        
                        <form class="form-modal" th:action="@{/admin/servicios/guardar}" method="POST">
                            <div class="form-grupo">
                                <label>Nombre del Servicio</label>
                                <input type="text" name="nombre" required placeholder="Ej. Desparasitación">
                            </div>
                            
                            <div class="form-grupo">
                                <label>Descripción</label>
                                <textarea name="descripcion" required placeholder="Descripción breve del servicio y lo que incluye."></textarea>
                            </div>
                            
                            <div class="form-grupo">
                                <label>Costo ($)</label>
                                <input type="number" name="costo" required placeholder="300">
                            </div>
                            
                            <div class="form-botones">
                                <button type="submit" class="btn-continuar">Guardar Servicio</button>
                                <label for="control-modal-servicio" class="btn-anterior">Cancelar</label>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="modal-editar-servicio" class="modal-overlay">
                    <div class="modal-caja">
                        
                        <h3>Editar Servicio</h3>
                        
                        <form class="form-modal" th:action="@{/admin/servicios/editar}" method="POST"> 
                            <div class="form-grupo">
                                <label>Nombre del Servicio</label>
                                <input type="text" name="nombre" required placeholder="Nombre del servicio"> 
                            </div>
                            
                            <div class="form-grupo">
                                <label>Descripción</label>
                                <textarea name="descripcion" required placeholder="Descripción breve del servicio y lo que incluye."></textarea>
                            </div>

                            <div class="form-grupo">
                                <label>Costo ($)</label>
                                <input type="number" name="costo" required placeholder="0">
                            </div>
                            
                            <div class="form-botones">
                                <button type="submit" class="btn-continuar">Guardar Cambios</button>
                                <a href="#admin-servicios" class="btn-anterior">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section id="admin-veterinarios">
                <div class="tag-rol">
                    <span th:text="${empleado.puesto}">Rol activo</span>
                </div>
                <div class="encabezado-admin">
                    <h1>Gestor de Veterinarios</h1>
                </div>
                <div class="agregar">
                    <label for="control-modal-veterinario" class="btn-agenda">Agregar veterinario</label>
                </div>
                <div class="contenedor-veterinarios-admin" >

                    <div class="veterinario-caja-admin" th:each="empleado : ${listaEmpleados}">
                        <div class="info-vet">
                            <h3 th:text="${empleado.nombre + ' ' + empleado.apellidoPaterno}">Dra. María López</h3>
                            <label th:text="${empleado.puesto}">Especialidad: <p>Medicina General, Cirugía</p></label>
                            <label th:text="${empleado.correo}">Correo: <p>maria.lopez@ctrlpet.com</p></label>
                            <label th:text="${empleado.telefono}">teléfono: <p>6441589865</p></label>
                            
                        </div>
                        <div class="veterinarios-opciones">
                            <a href="#modal-editar-veterinario" class="btn-editar">Editar</a>
                            <a th:href="@{/admin/veterinarios/eliminar/{id}(id=${empleado.idEmpleado})}" class="btn-eliminar" onclick="return confirm('¿Seguro que deseas eliminar a este veterinario?')">Eliminar</a>
                        </div>
                    </div>

                </div>

                <input type="checkbox" id="control-modal-veterinario" class="modal-switch" hidden>

                <div class="modal-overlay">
                    <div class="modal-caja">
                        
                        <h3>Nuevo Veterinario</h3>
                        
                        <form class="form-modal">
                            <div class="form-grupo" th:action="@{/admin/veterinarios/guardar}" method="POST">
                                <label>Nombre del Médico Veterinario:</label>
                                <input type="text" name="nombre" required placeholder="Ej. María">
                            </div>
                            
                            <div class="form-grupo">
                                <label>Especialidad:</label>
                                <input type="text" name="especialidad" required placeholder="Ej. Medicina General">
                            </div>
                            
                            <div class="form-grupo">
                                <label>Correo:</label>
                                <input type="email" name="correo" required placeholder="mario.perez@ctrlpet.com">
                            </div>

                            <div class="form-grupo">
                                <label>Teléfono:</label>
                                <input type="tel"  name= "telefono" placeholder="Ej. 6441234567" required>
                            </div>
                            
                            <div class="form-botones">
                                <button type="submit" class="btn-continuar">Guardar Veterinario</button>
                                <label for="control-modal-veterinario" class="btn-anterior">Cancelar</label>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="modal-editar-veterinario" class="modal-overlay">
                    <div class="modal-caja">
                        
                        <h3>Editar Veterinario</h3>
                        
                        <form class="form-modal" th:action="@{/admin/veterinarios/editar}" method="POST">
                            <div class="form-grupo">
                                <label>Nombre del Médico Veterinario:</label>
                                <input type="text" name="nombre" required placeholder="Ej. María">
                            </div>
                            
                            <div class="form-grupo">
                                <label>Especialidad:</label>
                                <input type="text" name="especialidad" required placeholder="Ej. Medicina General">
                            </div>
                            
                            <div class="form-grupo">
                                <label>Correo:</label>
                                <input type="email" name="correo" required placeholder="mario.perez@ctrlpet.com">
                            </div>

                            <div class="form-grupo">
                                <label>Teléfono:</label>
                                <input type="tel" name="telefono" placeholder="Ej. 6441234567" required>
                            </div>
                            
                            <div class="form-botones">
                                <button type="submit" class="btn-continuar">Guardar Cambios</button>
                                <a href="#admin-veterinarios" class="btn-anterior">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section id="admin-sucursales">
                <div class="tag-rol">
                    <span th:text="${empleado.puesto}">Rol activo</span>
                </div>
                <div class="encabezado-admin">
                    <h1>Gestor de Sucursales</h1>
                </div>
                <div class="agregar">
                    <label for="control-modal-sucursal" class="btn-agenda">Agregar Sucursal</label>
                </div>
                <div class="contenedor-sucursales-admin">

                    <div class="sucursales-caja-admin" th:each="sucursal : ${listaSucursales}">
                        <div class="info-sucursal">
                            <h3 th:text="${sucursal.nombre}">Centro</h3>
                            <label> Dirección: <p th:text="${sucursal.direccion}">Gatubela #2007</p></label>
                            <label> Correo: <p th:text="${sucursal.correo}">centro@ctrlpet.com</p></label>
                            <label> Teléfono: <p th:text="${sucursal.telefono}">6441234567</p></label>
                        </div>
                        <div class="sucursal-opciones">
                            <a href="#modal-editar-sucursal" class="btn-editar">Editar</a>
                            <a th:href="@{/admin/sucursales/eliminar/{id}(id=${sucursal.idSucursal})}" class="btn-eliminar" onclick="return confirm('¿Eliminar?')">Eliminar</a>
                        </div>
                    </div>

                </div>

                <input type="checkbox" id="control-modal-sucursal" class="modal-switch" hidden>

                <div class="modal-overlay">
                    <div class="modal-caja">
                        
                        <h3>Nueva Sucursal</h3>
                        
                        <form class="form-modal" th:action="@{/admin/sucursales/guardar}" method="POST">
                            <div class="form-grupo">
                                <label>Nombre de la sucursal:</label>
                                <input type="text" name="nombre" placeholder="Ej. Centro" required>
                            </div>
                            
                            <div class="form-grupo">
                                <label>Teléfono</label>
                                <input type="tel" name="telefono" placeholder="Ej. 6441234567" required>
                            </div>
                            
                            <div class="form-grupo">
                                <label>Dirección:</label>
                                <input type="tel" name="direccion" placeholder="Ej. Gatubela #2007,Centro" required>
                            </div>

                            <div class="form-grupo">
                                <label>Correo electrónico: </label>
                                <input type="email" name="correo" placeholder="Ej. sucursal@ctrlpet.com" >
                            </div>

                             <div class="form-grupo">
                                <label>Confirma tu correo electrónico: </label>
                                <input type="email" name="correo-confirmar" placeholder="Repite tu correo">
                            </div>

                             <div class="form-grupo">
                                <label>Contraseña: </label>
                                <input type="password" name="contrasenia" placeholder="***********">
                            </div>

                             <div class="form-grupo">
                                <label>Confirma tu contraseña: </label>
                                <input type="password" name="contrasenia-confirmar" placeholder="Repite tu contraseña" >
                            </div>
                            
                            <div class="form-botones">
                                <button type="submit" class="btn-continuar">Guardar Sucursal</button>
                                <label for="control-modal-sucursal" class="btn-anterior">Cancelar</label>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="modal-editar-sucursal" class="modal-overlay">
                    <div class="modal-caja">
                        
                        <h3>Editar Sucursal</h3>
                        
                        <form class="form-modal" th:action"@{/admin/sucursales/editar}" method="POST"> 
                            <div class="form-grupo">
                                <label for="nombre">Nombre de la sucursal:</label>
                                <input type="text" id="nombre" placeholder="Ej. Centro" required>
                            </div>
                            
                            <div class="form-grupo">
                                <label for="telefono">Teléfono</label>
                                <input type="tel" id="telefono" placeholder="Ej. 6441234567" required>
                            </div>
                            
                            <div class="form-grupo">
                                <label for="direccion">Dirección:</label>
                                <input type="tel" id="direccion" placeholder="Ej. Gatubela #2007,Centro" required>
                            </div>

                            <div class="form-grupo">
                                <label for="correo">Correo electrónico: </label>
                                <input type="email" id="correo" placeholder="Ej. sucursal@ctrlpet.com" >
                            </div>

                             <div class="form-grupo">
                                <label for="correo-confirmar">Confirma tu correo electrónico: </label>
                                <input type="email" id="correo-confirmar" placeholder="Repite tu correo">
                            </div>

                             <div class="form-grupo">
                                <label for="contrasenia">Contraseña: </label>
                                <input type="password" id="contrasenia" placeholder="***********">
                            </div>

                             <div class="form-grupo">
                                <label for="contrasenia-confirmar">Confirma tu contraseña: </label>
                                <input type="password" id="contrasenia-confirmar" placeholder="Repite tu contraseña" >
                            </div>
                            
                            <div class="form-botones">
                                <button type="submit" class="btn-continuar">Guardar Cambios</button>
                                <a href="#admin-sucursales" class="btn-anterior">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer>
        <p>&copy; Copyright Ctrl+PET 2026</p>
    </footer>
</body>
</html>