<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ctrl + PET - Dashboard Administrador</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
        </style>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>

    <main>
        
        <section id="dashboard-admin">
            <input type="radio" name="nav-pestana" id="pestana-inicio" th:checked="${buscar == null}">
            <input type="radio" name="nav-pestana" id="pestana-citas" th:checked="${buscar != null}">
            <input type="radio" name="nav-pestana" id="pestana-servicios">
            <input type="radio" name="nav-pestana" id="pestana-veterinarios">
            <input type="radio" name="nav-pestana" id="pestana-sucursales">

            <aside class="nav-aside-admin">
                <input type="checkbox" id="anvorguesa">
                    <label for="anvorguesa" class="menu-button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                <nav class="header-nav-admin">
                    <img src="/imgs/iconos/logo-dark.png">
                    <label for="pestana-inicio" class="enlace-nav">Inicio</label>
                    <label for="pestana-citas" class="enlace-nav">Citas</label>
                    <label for="pestana-servicios" class="enlace-nav">Servicios</label>
                    <label for="pestana-veterinarios" class="enlace-nav">Veterinarios</label>
                    <label for="pestana-sucursales" class="enlace-nav">Sucursales</label>
                    <a th:href="@{/login-admin}" class="enlace-nav">Cerrar sesión</a>
                </nav>
            </aside>
            
           
            <section id="admin-inicio">
                <div class="tag-rol">
                    <span th:text="${empleado.puesto}">Rol activo</span>
                </div>
                <div class="encabezado-admin">
                    <h1>Dashboard Administrativo</h1>
                </div>
               <div class="buscador-citas">
                 <form th:action="@{/admin}" method="GET" style="display:contents">
                    <input type="text" name="buscar" placeholder="Buscar" th:value="${buscar}">
                    <button type="submit" class="btn-agenda">Buscar</button>
                    <input type="date" name="desde" th:value="${desde}">
                    <input type="date" name="hasta" th:value="${hasta}">
                    <button type="submit" class="btn-agenda">Filtrar por fecha</button>
                 </form>
                </div>

                <div class="buscador-citas">
                    <a href="/admin/duenos" class="btn-agenda">Ver tabla de dueños</a>
                    <a href="/admin/mascotas" class="btn-agenda">Ver tabla de mascotas</a>
                    <a href="/admin/citas" class="btn-agenda">Ver tabla de citas</a>
                </div>

                <div class="area-tabla">
                    <table class="tabla-citas-admin" tabindex="0">
                        <thead>
                            <tr>
                                <th>Dueño</th>
                                <th>Mascota</th>
                                <th>Fecha y Hora</th>
                                <th>Servicio</th>
                                <th>Veterinario</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th style="text-align: center; vertical-align: middle;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr th:each="reserva : ${listaReservas}" tabindex="0">
                                 <td th:text="${@duenoService.obtenerPorId(reserva.dueno).nombre}">Dueño</td>
                                 <td th:text="${@duenoService.getMascotaById(reserva.mascota,reserva.dueno).nombre}">Mascota</td>
                                 <td th:text="${#temporals.format(reserva.fecha, 'dd/MM/yyyy HH:mm')}">Fecha</td>
                                 <td th:text="${reserva.servicios.tipo}">Servicio</td>
                                 <td th:text="${@empleadoService.obtenerPorId(reserva.idEmpleado).nombre}">Veterinario</td>
                                 <td th:text="${'$' + reserva.servicios.precio}">Precio</td>
                                 <td th:text="${reserva.estado}">Estado</td>
                                 <td class="celda-accion">
                                     <div class="opciones-citas">
                                         <a th:href="@{/admin/citas/editar/{id}(id=${reserva.idReserva})}">Editar</a>
                                         <form th:action="@{/admin/citas/eliminar/{id}(id=${reserva.idReserva})}" method="POST" onclick="return confirm('¿Seguro?')">
                                             <input type="hidden" name="_method" value="DELETE">
                                             <button type="submit" class="btn-eliminar">Eliminar</button>
                                         </form>
                                     </div>
                                 </td>
                            </tr>
                             <tr th:if="${#lists.isEmpty(listaReservas)}">
                                 <td colspan="8">No hay citas registradas para el día de hoy.</td>
                             </tr>
                        </tbody>
                    </table>
                </div>
                
                
            </section>

            <section id="admin-citas">
                <div class="tag-rol">
                    <span th:text="${empleado.puesto}">Rol activo</span>
                </div>
                <div class="encabezado-admin">
                    <h1>Gestor de Citas</h1>
                </div>

              <div class="buscador-citas">
                <form th:action="@{/admin}" method="GET" style="display:contents">
                    <input type="text" name="buscar" placeholder="Buscar cita" th:value="${buscar}">
                    <button type="submit" class="btn-agenda">Buscar</button>
                    <input type="date" name="desde" th:value="${desde}">
                    <input type="date" name="hasta" th:value="${hasta}">
                    <button type="submit" class="btn-agenda">Filtrar por fecha</button>
                </form>
                <label for="control-modal-cita" class="btn-agenda">Agregar cita</label>
              </div>


                <input type="checkbox" id="control-modal-cita" class="modal-switch" hidden>

                <div class="modal-overlay">
                    <div class="modal-caja">
                        <h3>Tipo de Registro</h3>
                        <p>¿A qué cliente deseas agendarle la cita?</p>

                        <form th:action="@{/reserva/dueno}" method="POST" class="form-modal">
                            <div class="form-grupo">
                                <label for="duenoCita">Dueño Registrado:</label>
                                <select name="idDueno" id="duenoCita" required>
                                    <option value="" disabled selected>Selecciona al dueño...</option>
                                    <option th:each="dueno : ${listaDuenos}"
                                            th:value="${dueno.idDueno}"
                                            th:text="${dueno.nombre + ' ' + dueno.apellidoPaterno}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn-continuar">Continuar con Dueño</button>
                        </form>
                        <hr>
                        <div class="opcion-sin-login">
                            <a th:href="@{/reserva}" class="btn-secundario">Continuar sin dueño registrado</a>
                            <a href="" class="btn-secundario"> Cancelar </a>
                        </div>
                    </div>
                </div>

                <div class="area-tabla">

                <table class="tabla-citas-admin">
                    <thead>
                        <tr>
                            <th>Dueño</th>
                            <th>Mascota</th>
                            <th>Fecha y Hora</th>
                            <th>Servicio</th>
                            <th>Veterinario</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th style="text-align: center; vertical-align: middle;">Acciones</th>
                        </tr>
                    </thead>
                  <tbody>
                    <tr th:each="reserva : ${listaReservas}" tabindex="0">
                        <td th:text="${@duenoService.obtenerPorId(reserva.dueno).nombre}">Dueño</td>
                        <td th:text="${@duenoService.getMascotaById(reserva.mascota,reserva.dueno).nombre}">Mascota</td>
                        <td th:text="${#temporals.format(reserva.fecha, 'dd/MM/yyyy HH:mm')}">Fecha</td>
                        <td th:text="${reserva.servicios.tipo}">Servicio</td>
                        <td th:text="${@empleadoService.obtenerPorId(reserva.idEmpleado).nombre}">Veterinario</td>
                        <td th:text="${'$' + reserva.servicios.precio}">Precio</td>
                        <td th:text="${reserva.estado}">Estado</td>
                        <td class="celda-accion">
                            <div class="opciones-citas">
                                <a th:href="@{/admin/citas/editar/{id}(id=${reserva.idReserva})}">Editar</a>
                                <form th:action="@{/admin/citas/eliminar/{id}(id=${reserva.idReserva})}" method="POST" onclick="return confirm('¿Seguro?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn-eliminar">Eliminar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(listaReservas)}">
                        <td colspan="8">No hay citas registradas para el día de hoy.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            </section>

            <section id="admin-servicios">
                <div class="tag-rol">
                    <span th:text="${empleado.puesto}">Rol activo</span>
                </div>
                <div class="encabezado-admin">
                    <h1>Gestor de Servicios</h1>
                </div> 
                <div class="agregar">
                    <label for="control-modal-servicio" class="btn-agenda">Agregar servicio</label>
                </div>
                <div class="contenedor-servicios-admin">
                    <div th:if="${#lists.isEmpty(listaServicios)}">
                        <p>Aún no has registrado ningún servicio. ¡Haz clic en "Agregar servicio" para comenzar!</p>
                    </div>
                    <div class="servicio-caja-admin" th:each="servicio : ${listaServicios}">
                        <div class="servicio-info">
                            <h3 th:text="${servicio.tipo}">Consulta General</h3>
                            <p class="descripcion" th:text="${servicio.descripcion}">Descripción...</p>
                            <span class="precio" th:text="${ '$' + servicio.precio}">$300</span>
                            <span class="duracion" th:text="${servicio.duracion + ' minutos'}">minutos</span>
                        </div>
                        <div class="servicio-opciones">
                            <a th:href="'#modal-editar-servicio-' + ${servicio.idServicio}" class="btn-editar">Editar</a>
                            <form th:action="@{/admin/servicios/eliminar/{id}(id=${servicio.idServicio})}" method="POST" onclick="return confirm('¿Seguro que desea eliminar este servicio?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn-eliminar">Eliminar</button>
                            </form>
                        </div>

                        <div th:id="'modal-editar-servicio-' + ${servicio.idServicio}" class="modal-overlay">
                            <div class="modal-caja">

                                <h3>Editar Servicio</h3>

                                <form class="form-modal" th:action="@{/admin/servicios/editar/{id}(id=${servicio.idServicio})}" method="POST">
                                    <input type="hidden" name="_method" value="PATCH">
                                    <div class="form-grupo">
                                        <label>Nombre del Servicio</label>
                                        <input type="text" name="tipo" th:value="${servicio.tipo}">
                                    </div>

                                    <div class="form-grupo">
                                        <label for="categoriaEditar">Especialidad a la que pertenece:</label>
                                        <select name="especialidad" id="categoriaEditar">
                                            <option value="" disabled selected> Selecciona una especialidad</option>
                                            <option th:each="especialidadesDisponibles : ${especialidades}"
                                                    th:value="${especialidadesDisponibles}"
                                                    th:text="${especialidadesDisponibles}">
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-grupo">
                                        <label>Descripción</label>
                                        <textarea name="descripcion" th:text="${servicio.descripcion}"></textarea>
                                    </div>

                                    <div class="form-grupo">
                                        <label>Precio ($)</label>
                                        <input type="number" name="precio" th:value="${servicio.precio}">
                                    </div>

                                    <div class="form-grupo">
                                        <label>Duración(min): </label>
                                        <input type="number" name="duracion" th:value="${servicio.duracion}">
                                    </div>

                                    <div class="form-botones">
                                        <button type="submit" class="btn-continuar">Guardar Cambios</button>
                                        <a href="#admin-servicios" class="btn-anterior">Cancelar</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="checkbox" id="control-modal-servicio" class="modal-switch" hidden>

                <div class="modal-overlay">
                    <div class="modal-caja">

                        <h3>Nuevo Servicio</h3>

                        <form class="form-modal" th:action="@{/admin/servicios/guardar}" method="POST">
                            <div class="form-grupo">
                                <label>Nombre del Servicio</label>
                                <input type="text" name="tipo" required placeholder="Ej. Desparasitación">
                            </div>

                            <div class="form-grupo">
                                <label for="categoria">Especialidad a la que pertenece:</label>
                                <select name="especialidad" id="categoria" required>
                                    <option value="" disabled selected> Selecciona una especialidad</option>
                                    <option th:each="especialidadesDisponibles : ${especialidades}"
                                            th:value="${especialidadesDisponibles}"
                                            th:text="${especialidadesDisponibles}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-grupo">
                                <label>Descripción</label>
                                <textarea name="descripcion" required placeholder="Descripción breve del servicio y lo que incluye."></textarea>
                            </div>

                            <div class="form-grupo">
                                <label>Precio ($)</label>
                                <input type="number" name="precio" required placeholder="300">
                            </div>

                            <div class="form-grupo">
                                <label>Duración(min): </label>
                                <input type="number" name="duracion" required placeholder="120">
                            </div>

                            <div class="form-botones">
                                <button type="submit" class="btn-continuar">Guardar Servicio</button>
                                <label for="control-modal-servicio" class="btn-anterior">Cancelar</label>
                            </div>
                        </form>
                    </div>
                </div>


            </section>

            <section id="admin-veterinarios">
                <div class="tag-rol">
                    <span th:text="${empleado.puesto}">Rol activo</span>
                </div>
                <div class="encabezado-admin">
                    <h1>Gestor de Veterinarios</h1>
                </div>
                <div class="agregar">
                    <label for="control-modal-veterinario" class="btn-agenda">Agregar veterinario</label>
                </div>
                <div class="contenedor-veterinarios-admin" >

                    <div th:if="${#lists.isEmpty(listaEmpleados)}">
                        <p>Aún no has registrado ningún veternario. ¡Haz clic en "Agregar veterinario" para comenzar!</p>
                    </div>
                    <div class="veterinario-caja-admin" th:each="empleado : ${listaEmpleados}">
                        <div class="info-vet">
                            <h3 th:text="${empleado.nombre + ' ' + empleado.apellidoPaterno}">Dra. María López</h3>
                            <label th:text="${empleado.puesto}">Puesto: <p>Administrador, Empleado</p></label>
                            <label th:text="${empleado.especialidad}">Especialidad: <p>Medicina General, Cirugía</p></label>
                            <label th:text="${empleado.correo}">Correo: <p>maria.lopez@ctrlpet.com</p></label>
                            <label th:text="${empleado.telefono}">teléfono: <p>6441589865</p></label>

                        </div>
                        <div class="veterinarios-opciones">
                            <a th:href="'#modal-editar-veterinario-' + ${empleado.idEmpleado}" class="btn-editar">Editar</a>
                            <form th:action="@{/admin/veterinarios/eliminar/{id}(id=${empleado.idEmpleado})}" method="POST" onclick="return confirm('¿Seguro que deseas eliminar a este veterinario?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn-eliminar">Eliminar</button>
                            </form>
                        </div>

                        <div th:id="'modal-editar-veterinario-' + ${empleado.idEmpleado}" class="modal-overlay">
                            <div class="modal-caja-ancha">

                                <h3>Editar Veterinario</h3>

                                <form class="form-modal-ancho" th:action="@{/admin/veterinarios/editar/{id}(id=${empleado.idEmpleado})}" method="POST">
                                    <input type="hidden" name="_method" value="PATCH">

                                    <div class="form-grupo">
                                        <label>Nombre:</label>
                                        <input type="text" name="nombre" th:value="${empleado.nombre}">
                                    </div>

                                    <div class="form-grupo">
                                        <label>Apellido Paterno:</label>
                                        <input type="text" name="apellidoPaterno" th:value="${empleado.apellidoPaterno}">
                                    </div>

                                    <div class="form-grupo">
                                        <label>Apellido Materno:</label>
                                        <input type="text" name="apellidoMaterno" th:value="${empleado.apellidoMaterno}">
                                    </div>

                                    <div class="form-grupo">
                                        <label for="especialidadEditar">Especialidad:</label>
                                        <select name="especialidad" id="especialidadEditar">
                                            <option value="" disabled selected> Selecciona una especialidad</option>
                                            <option th:each="especialidadesDisponibles : ${especialidades}"
                                                    th:value="${especialidadesDisponibles}"
                                                    th:text="${especialidadesDisponibles}">
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-grupo">
                                        <label for="puestoEditar">Puesto / Rol:</label>
                                        <select name="puesto" id="puestoEditar">
                                            <option value="" disabled selected>Selecciona un puesto</option>
                                            <option th:each="puestosDisponibles : ${puestos}"
                                                    th:value="${puestosDisponibles}"
                                                    th:text="${puestosDisponibles}">
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-grupo">
                                        <label for="sucursalEditar">Sucursal:</label>
                                        <select name="sucursal" id="sucursalEditar">
                                            <option value="" disabled selected>Selecciona una sucursal</option>
                                            <option th:each="sucursalesDisponibles : ${listaSucursales}"
                                                    th:value="${sucursalesDisponibles.idSucursal}"
                                                    th:text="${sucursalesDisponibles.nombre}">
                                            </option>
                                        </select>
                                    </div>

                                    <fieldset class="set-campos">
                                        <legend>Días de trabajo: </legend>
                                        <div th:each="dia : ${diasSemana}">
                                            <input type="checkbox" th:value="${dia}" name="diasSeleccionados" th:id="${'dia:' + dia}">
                                            <label th:for="${'dia:' + dia}" th:text="${dia}"></label>
                                        </div>
                                    </fieldset>

                                    <div class="form-grupo">
                                        <label for="horaEntrada_editar">Hora de Entrada:</label>
                                        <input type="time" id= "horaEntrada_editar" name="horaEntrada">
                                    </div>

                                    <div class="form-grupo">
                                        <label for="horaSalida_editar">Hora de Salida:</label>
                                        <input type="time" id="horaSalida_editar" name="horaSalida">
                                    </div>

                                    <div class="form-grupo">
                                        <label>Correo:</label>
                                        <input type="email" name="correo" th:value="${empleado.correo}">
                                    </div>

                                    <div class="form-grupo">
                                        <label>Teléfono:</label>
                                        <input type="tel" name="telefono" th:value="${empleado.telefono}">
                                    </div>

                                    <div class="form-botones">
                                        <button type="submit" class="btn-continuar">Guardar Cambios</button>
                                        <a href="#admin-veterinarios" class="btn-anterior">Cancelar</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="checkbox" id="control-modal-veterinario" class="modal-switch" hidden>

                <div class="modal-overlay">
                    <div class="modal-caja-ancha">
                        
                        <h3>Nuevo Veterinario</h3>
                        
                        <form class="form-modal-ancho" th:action="@{/admin/veterinarios/guardar}" method="POST">
                            <div class="form-grupo">
                                <label>Nombre:</label>
                                <input type="text" name="nombre" required placeholder="Ej. María">
                            </div>

                            <div class="form-grupo">
                                <label>Apellido Paterno:</label>
                                <input type="text" name="apellidoPaterno" required placeholder="Ej. Pérez">
                            </div>

                            <div class="form-grupo">
                                <label>Apellido Materno:</label>
                                <input type="text" name="apellidoMaterno" required placeholder="Ej. Pérez">
                            </div>

                            <div class="form-grupo">
                                <label for="especialidad">Especialidad:</label>
                                <select name="especialidad" id="especialidad" required>
                                    <option value="" disabled selected>Selecciona una especialidad</option>
                                    <option th:each="especialidadesDisponibles : ${especialidades}"
                                            th:value="${especialidadesDisponibles}"
                                            th:text="${especialidadesDisponibles}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-grupo">
                                <label for="puesto">Puesto / Rol:</label>
                                <select name="puesto" id="puesto" required>
                                    <option value="" disabled selected>Selecciona un puesto</option>
                                    <option th:each="puestosDisponibles : ${puestos}"
                                            th:value="${puestosDisponibles}"
                                            th:text="${puestosDisponibles}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-grupo">
                                <label for="sucursal">Sucursal:</label>
                                <select name="sucursal" id="sucursal" required>
                                    <option value="" disabled selected>Selecciona una sucursal</option>
                                    <option th:each="sucursalesDisponibles : ${listaSucursales}"
                                            th:value="${sucursalesDisponibles.idSucursal}"
                                            th:text="${sucursalesDisponibles.nombre}">
                                    </option>
                                </select>
                            </div>

                            <fieldset class="set-campos">
                                <legend>Días de trabajo: </legend>
                                <div th:each="dia : ${diasSemana}">
                                    <input type="checkbox" th:value="${dia}" name="diasSeleccionados" th:id="${'dia:' + dia}">
                                    <label th:for="${'dia:' + dia}" th:text="${dia}"></label>
                                </div>
                            </fieldset>

                            <div class="form-grupo">
                                <label for="horaEntrada">Hora de Entrada:</label>
                                <input type="time" id= "horaEntrada" name="horaEntrada" required>
                            </div>

                            <div class="form-grupo">
                                <label for="horaSalida">Hora de Salida:</label>
                                <input type="time" id="horaSalida" name="horaSalida" required>
                            </div>
                            
                            <div class="form-grupo">
                                <label>Correo:</label>
                                <input type="email" name="correo" required placeholder="mario.perez@ctrlpet.com">
                            </div>

                            <div class="form-grupo">
                                <label>Contraseña:</label>
                                <input type="password" name="contrasenia" required placeholder="**********">
                            </div>

                            <div class="form-grupo">
                                <label>Teléfono:</label>
                                <input type="tel"  name= "telefono" placeholder="Ej. 6441234567" required>
                            </div>
                            
                            <div class="form-botones">
                                <button type="submit" class="btn-continuar">Guardar Veterinario</button>
                                <label for="control-modal-veterinario" class="btn-anterior">Cancelar</label>
                            </div>
                        </form>
                    </div>
                </div>


            </section>

            <section id="admin-sucursales">
                <div class="tag-rol">
                    <span th:text="${empleado.puesto}">Rol activo</span>
                </div>
                <div class="encabezado-admin">
                    <h1>Gestor de Sucursales</h1>
                </div>
                <div class="agregar">
                    <label for="control-modal-sucursal" class="btn-agenda">Agregar Sucursal</label>
                </div>
                <div class="contenedor-sucursales-admin">
                    <div th:if="${#lists.isEmpty(listaSucursales)}">
                        <p>Aún no has registrado ninguna sucursal. ¡Haz clic en "Agregar sucursal" para comenzar!</p>
                    </div>
                    <div class="sucursales-caja-admin" th:each="sucursal : ${listaSucursales}">
                        <div class="info-sucursal">
                            <h3 th:text="${sucursal.nombre}">Centro</h3>
                            <label> Teléfono: <p th:text="${sucursal.telefono}">6441234567</p></label>
                            <details>
                                <summary>Dirección:</summary>
                                <p th:text="${sucursal.direccion?.calle}"></p>
                                <p th:text="${sucursal.direccion?.colonia}"></p>
                                <p th:text="${sucursal.direccion?.ciudad}"></p>
                                <p th:text="${sucursal.direccion?.estado}"></p>
                                <p th:text="${sucursal.direccion?.codigoPostal}"></p>
                                <p th:text="${sucursal.direccion?.numeroCasa}"></p>
                            </details>
                        </div>
                        <div class="sucursal-opciones">
                            <a th:href="'#modal-editar-sucursal-' + ${sucursal.idSucursal}" class="btn-editar">Editar</a>
                            <form th:action="@{/admin/sucursales/eliminar/{id}(id=${sucursal.idSucursal})}" method="POST" onclick="return confirm('¿Seguro que deseas eliminar a esta sucursal?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn-eliminar">Eliminar</button>
                            </form>
                        </div>

                        <div th:id="'modal-editar-sucursal-' + ${sucursal.idSucursal}" class="modal-overlay">
                            <div class="modal-caja">

                                <h3>Editar Sucursal</h3>

                                <form class="form-modal" th:action="@{/admin/sucursales/editar/{id}(id=${sucursal.idSucursal})}" method="POST">
                                    <input type="hidden" name="_method" value="PATCH">

                                    <div class="form-grupo">
                                        <label for="nombre">Nombre de la sucursal:</label>
                                        <input type="text" id="nombre" name="nombre" th:value="${sucursal.nombre}">
                                    </div>

                                    <div class="form-grupo">
                                        <label for="telefonoEditar">Teléfono</label>
                                        <input type="tel" id="telefonoEditar" name="telefono" th:value="${sucursal.telefono}">
                                    </div>

                                    <fieldset class="set-campos">
                                        <legend> Dirección: </legend>
                                        <div class="form-grupo">
                                            <label for="calleEditar">Calle: </label>
                                            <input type="text" id="calleEditar" name="calle" th:value="${sucursal.direccion?.calle}">
                                        </div>

                                        <div class="form-grupo">
                                            <label for="coloniaEditar">Colonia: </label>
                                            <input type="text" id="coloniaEditar" name="colonia" th:value="${sucursal.direccion?.colonia}">
                                        </div>

                                        <div class="form-grupo">
                                            <label for="ciudadEditar">Ciudad: </label>
                                            <input type="text" id="ciudadEditar" name="ciudad" th:value="${sucursal.direccion?.ciudad}">
                                        </div>

                                        <div class="form-grupo">
                                            <label for="estadoEditar">Estado: </label>
                                            <input type="text" id="estadoEditar" name="estado" th:value="${sucursal.direccion?.estado}">
                                        </div>

                                        <div class="form-grupo">
                                            <label for="codigoPostalEditar">Código Postal: </label>
                                            <input type="text" id="codigoPostalEditar" name="codigoPostal" th:value="${sucursal.direccion?.codigoPostal}">
                                        </div>

                                        <div class="form-grupo">
                                            <label for="numeroCasaEditar">Número de casa: </label>
                                            <input type="text" id="numeroCasaEditar" name="numeroCasa" th:value="${sucursal.direccion?.numeroCasa}">
                                        </div>
                                    </fieldset>


<!--                                    <div class="form-grupo">-->
<!--                                        <label for="correo">Correo electrónico: </label>-->
<!--                                        <input type="email" id="correo" name="correo" placeholder="Ej. sucursal@ctrlpet.com" >-->
<!--                                    </div>-->

<!--                                    <div class="form-grupo">-->
<!--                                        <label for="correo-confirmar">Confirma tu correo electrónico: </label>-->
<!--                                        <input type="email" id="correo-confirmar" placeholder="Repite tu correo">-->
<!--                                    </div>-->

<!--                                    <div class="form-grupo">-->
<!--                                        <label for="contrasenia">Contraseña: </label>-->
<!--                                        <input type="password" id="contrasenia" name="contrasenia" placeholder="***********">-->
<!--                                    </div>-->

<!--                                    <div class="form-grupo">-->
<!--                                        <label for="contrasenia-confirmar">Confirma tu contraseña: </label>-->
<!--                                        <input type="password" id="contrasenia-confirmar" placeholder="Repite tu contraseña" >-->
<!--                                    </div>-->

                                    <div class="form-botones">
                                        <button type="submit" class="btn-continuar">Guardar Cambios</button>
                                        <a href="#admin-sucursales" class="btn-anterior">Cancelar</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <input type="checkbox" id="control-modal-sucursal" class="modal-switch" hidden>

                <div class="modal-overlay">
                    <div class="modal-caja">
                        
                        <h3>Nueva Sucursal</h3>
                        
                        <form class="form-modal" th:action="@{/admin/sucursales/guardar}" method="POST">
                            <div class="form-grupo">
                                <label>Nombre de la sucursal:</label>
                                <input type="text" name="nombre" placeholder="Ej. Centro" required>
                            </div>
                            
                            <div class="form-grupo">
                                <label>Teléfono</label>
                                <input type="tel" name="telefono" placeholder="Ej. 6441234567" required>
                            </div>

                            <fieldset class="set-campos">
                                <legend> Dirección: </legend>
                                <div class="form-grupo">
                                    <label for="calle">Calle: </label>
                                    <input type="text" id="calle" name="calle" required>
                                </div>

                                <div class="form-grupo">
                                    <label for="colonia">Colonia: </label>
                                    <input type="text" id="colonia" name="colonia" required>
                                </div>

                                <div class="form-grupo">
                                    <label for="ciudad">Ciudad: </label>
                                    <input type="text" id="ciudad" name="ciudad" required>
                                </div>

                                <div class="form-grupo">
                                    <label for="estado">Estado: </label>
                                    <input type="text" id="estado" name="estado" required>
                                </div>

                                <div class="form-grupo">
                                    <label for="codigoPostal">Código Postal: </label>
                                    <input type="text" id="codigoPostal" name="codigoPostal" required>
                                </div>

                                <div class="form-grupo">
                                    <label for="numeroCasa">Número de casa: </label>
                                    <input type="text" id="numeroCasa" name="numeroCasa" required>
                                </div>

                            </fieldset>

<!--                            <div class="form-grupo">-->
<!--                                <label>Correo electrónico: </label>-->
<!--                                <input type="email" name="correo" placeholder="Ej. sucursal@ctrlpet.com" >-->
<!--                            </div>-->

<!--                             <div class="form-grupo">-->
<!--                                <label>Confirma tu correo electrónico: </label>-->
<!--                                <input type="email" name="correo-confirmar" placeholder="Repite tu correo">-->
<!--                            </div>-->

<!--                             <div class="form-grupo">-->
<!--                                <label>Contraseña: </label>-->
<!--                                <input type="password" name="contrasenia" placeholder="***********">-->
<!--                            </div>-->

<!--                             <div class="form-grupo">-->
<!--                                <label>Confirma tu contraseña: </label>-->
<!--                                <input type="password" name="contrasenia-confirmar" placeholder="Repite tu contraseña" >-->
<!--                            </div>-->

                            <div class="form-botones">
                                <button type="submit" class="btn-continuar">Guardar Sucursal</button>
                                <label for="control-modal-sucursal" class="btn-anterior">Cancelar</label>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <p>&copy; Copyright Ctrl+PET 2026</p>
    </footer>
</body>
</html>