<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ctrl + PET - Contacto</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
        </style>
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>

    <header >
        <div class="logo">
            <img src="imgs/iconos/logo.png" alt="logo de ctrl+PET.">
        </div>

        <input type="checkbox" id="anvorguesa">
        <label for="anvorguesa" class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="header-nav">
            <a href="index.html">Inicio</a>
            <a href="servicios.html">Servicios</a>
            <a href="../templates/contacto.html">Contacto</a>
        </nav>
        <div class="botones-header" id="contenedor-botones-auth">
            <a href="login.html" class="btn-login">Iniciar Sesión</a>
            <a href="registro.html" class="btn-register">Registrarse</a>
        </div>
    </header>

    <main > 
        <section>
            <div class="contenedor-contacto">
            <section class="contacto">
                <div class="contacto-imagen">
                    <img src="imgs/otras/imagen-contacto-perro.png" alt="Perrito con lentes contestando un teléfono rojo">
                </div>
                
                <div class="contacto-info">
                    <h1>¡Ponte en contacto con nosotros!</h1>

                    <div class="tarjetas-datos">

                        <div class="bloque-contacto">
                            <img src="imgs/iconos/icono-telefono.png" alt="icono de un telefono">
                            <span class="texto-dato">6441-12-12-12</span>
                        </div>

                        <div class="bloque-contacto">
                            <img src="imgs/iconos/icono-correo.png" alt="icono de un sobre de correo">
                            <span class="texto-dato">ctrl.pet@gmail.com</span>
                        </div>

                        <div class="bloque-contacto">
                            <img src="imgs/iconos/icono-ubicacion.png" alt="icono de ubicacion">
                            <span class="texto-dato">Gatubela #2007, Centro</span>
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </section>
    </main>

    <footer >
        <p>&copy; Copyright Ctrl+PET 2026</p>
    </footer>
</body>
</html>