<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ctrl + PET - Gestionar Dueños</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
        </style>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>
    <main>

        <section id="gestion-dueno">

            <div id="contenedor-dueno">
                <div class="grupo-botones" id="btn-regresar">
                    <a th:href="@{/admin}" class="btn-anterior"> Regresar</a>
                </div>

                <div class="contenedor-caja-dueno">
                    <div class="contenedor-imagen">
                        <img th:src="@{/imgs/iconos/icono-perfil-usuario.png}" alt="Perfil">
                    </div>

                    <form th:action="@{/admin/duenos/actualizar/{id}(id=${dueno.idDueno.toHexString()})}"
                          method="POST"
                          class="info-dueno">

                        <div id="info-dueno" th:if="${modoEdicion != true}">
                            <h3>Cliente</h3>
                            <p th:text="${dueno.nombre} + ' ' + ${dueno.apellidoPaterno} + ' ' + ${dueno.apellidoMaterno}">Nombre</p>
                            <p th:text="${dueno.telefono}">Teléfono</p>
                            <p th:text="${dueno.correo}">Correo</p>
                            <p th:text="${#temporals.format(dueno.fechaNacimiento, 'dd/MM/yyyy')}">Fecha Nacimiento</p>
                        </div>

                        <div class="info-dueno" th:unless="${modoEdicion != true}">
                            <h3>Editar Datos</h3>
                                <input type="text" name="nombre" th:value="${dueno.nombre}">
                                <input type="text" name="apellidoPaterno" th:value="${dueno.apellidoPaterno}">
                                <input type="text" name="apellidoMaterno" th:value="${dueno.apellidoMaterno}">
                                <input type="text" name="telefono" th:value="${dueno.telefono}">
                                <input type="text" name="correo" th:value="${dueno.correo}">
                                <input type="date" name="fechaNacimiento" th:value="${dueno.fechaNacimiento}">
                        </div>
                        <div class="botones-contenedor">
                            <a th:if="${modoEdicion != true}"
                               th:href="@{/admin/duenos/editar/{id}?editar=true(id=${dueno.idDueno.toHexString()})}"
                               class="btn-registrarme">Editar</a>

                            <button th:if="${modoEdicion == true}"
                                    type="submit"
                                    class="btn-registrarme">Guardar Cambios</button>

                            <a th:if="${modoEdicion == true}"
                               th:href="@{/admin/duenos/editar/{id}(id=${dueno.idDueno.toHexString()})}"
                               class="btn-anterior">Cancelar</a>
                        </div>
                    </form>
                </div>

                <div id="duenos-mascotas">
                    <div class="contenedor-caja-mascota" th:each="pet: ${mascotas}">

                        <input type="checkbox" th:id="${'toggle-foto-' + pet.idMascota}" class="modal-toggle" style="display: none;">

                        <div class="tarjeta-mascota-wrapper">
                            <a th:href="@{/admin/mascotas/editar/{id}(id=${pet.idMascota}, idDueno=${id})}" class="tarjeta-mascota">
                                <div class="contenedor-foto-mascota" style="position: relative;">
                                    <img th:src="${pet?.fotoUrl} ?: @{/imgs/iconos/icono-gato.png}" alt="Foto de la mascota">
                                </div>
                                <div class="info-mascota">
                                    <h3 th:text="${pet.nombre}">Nombre</h3>
                                    <p th:text="${pet.especie}">Especie</p>
                                    <p th:text="${pet.raza}">Raza</p>
                                    <p th:text="${#temporals.format(pet.fechaNacimiento, 'dd/MM/yyyy')}">Fecha Nacimiento</p>
                                </div>
                            </a>
                        </div>

                        <div class="modal-overlay">
                            <div class="modal-caja">
                                <h3>Actualizar foto de <span th:text="${pet.nombre}"></span></h3>

                                <form th:action="@{/admin/mascotas/cambiar-foto/{id}(id=${pet.idMascota})}" method="POST" enctype="multipart/form-data" class="form-modal">

                                    <div class="form-grupo">
                                        <label>Selecciona la nueva imagen:</label>
                                        <input type="file" name="fotoUrl" accept="image/*" required>
                                    </div>

                                    <div class="form-botones">
                                        <button type="submit" class="btn-continuar">Guardar Foto</button>
                                        <label th:for="${'toggle-foto-' + pet.idMascota}" class="btn-anterior">Cancelar</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer>
        <p>&copy; Copyright Ctrl+PET 2026</p>
    </footer>
</body>
</html>