<!DOCTYPE html >
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ctrl + PET - Clínica Veterinaria</title>
        <style >
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
        </style>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body id="index-html">

    <header>
        <div class="logo">
            <img src="/imgs/iconos/logo.png" alt="logo de ctrl+PET.">
        </div>

        <input type="checkbox" id="anvorguesa">
        <label for="anvorguesa" class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="header-nav">
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/servicios}">Servicios</a>
            <a th:href="@{/contacto}">Contacto</a>
        </nav>
        <div class="botones-header" id="contenedor-botones-auth">
            <a th:href="@{/login}" class="btn-login">Iniciar Sesión</a>
            <a th:href="@{/registro}" class="btn-register">Registrarse</a>
        </div>
    </header>

    <main id="contenido-publico">
        <section class="banner">
            <div class="imagen-banner">
            <div class="contenido-banner">
                <h1>EL MEJOR CUIDADO PARA TU MASCOTA</h1>
                <p>Obtén el <span>50%</span> de descuento en tu <span>primera cita</span></p>
                <a th:href="@{/reserva}" class="btn-reserva">Reserva ahora</a>
            </div>
                <img src="/imgs/index/banner.png" alt="Banner decorado con un gatito tierno tratando de tocar el botón de reserva.">
            </div>
        </section>

        <section class="seccion-servicios-index">
            <h2>Nuestros servicios incluyen:</h2>
            <div class="grid-servicios-index">
                <article class="servicio-caja">
                    <div class="icono">
                        <img src="/imgs/iconos/icono-consulta.png" alt="icono de un estetoscopio.">
                    </div>
                    <h3>Consultas</h3>
                    <p>Chequeos preventivos y evaluación de malestares específicos.</p>
                </article>
                
                <article class="servicio-caja"> 
                    <div class="icono">
                        <img src="/imgs/iconos/icono-grooming.png" alt="icono de unas tijeras para cabello.">
                    </div>
                    <h3>Estética & Spa</h3>
                    <p>Técnicas profesionales de higiene y estética, con cuidado integral de la piel, uñas y oídos.</p>
                </article>

                <article class="servicio-caja">
                    <div class="icono">
                        <img src="/imgs/iconos/icono-dentista.png" alt="icono de un cepillo de dientes.">
                    </div>
                    <h3>Cuidado Dental</h3>
                    <p>Evaluación especializada, diagnóstico y tratamiento de la salud bucal de mascotas.</p>
                </article>
                
                <a th:href="@{servicios}" class="btn-servicios-sig" aria-label="Ver más servicios">❯</a>
            </div>
        </section>

        <section class="contenedor-reserva">
        <div class="contenedor-contenido-reserva">
            
            <div class="bloque-reserva">
                
                <div class="imagen-reserva-index">
                    <h2>¿Necesitas una cita para tu mascota? <span>¡Llena este formulario!</span></h2>
                    <img src="/imgs/index/imagen-formulario-index.png" alt="Perrito y gatito juntos">
                </div>
                
                <form class="formulario-reserva">
                <div class="campo-formulario">
                    <label for="nombre">Nombre completo</label>
                    <input type="text" id="nombre" placeholder="Ej. Luis Pérez" required>
                </div>
                <div class="campo-formulario">
                    <label for="servicio">Servicio</label>
                    <select id="servicio" required>
                        <option value="">Selecciona un servicio...</option>
                    </select>
                </div>
                <div class="campo-formulario">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" placeholder="Ej. 6441234567" required>
                </div>
                <div class="campo-formulario">
                    <label for="fecha">Fecha</label>
                    <input type="date" id="fecha" required>
                </div>
                <div class="campo-formulario">
                    <label for="tipo-mascota">Tipo de mascota</label>
                    <select id="tipo-mascota" required>
                        <option value="">Selecciona un tipo...</option>
                        <option value="perro">Perro</option>
                        <option value="gato">Gato</option>
                        <option value="roedor">Roedor</option>
                        <option value="ave">Ave</option>
                    </select>
                </div>
                <div class="campo-formulario">
                    <label for="hora">Hora</label>
                    <input type="time" id="hora" required>
                </div>

                <button type="submit" class="btn-submit">Agendar mi cita</button>
            </form>
            </div>

            <div class="seccion-proceso">
                <h3>¿Cómo funciona?</h3>
                <div class="proceso">
                    <img src="/imgs/index/imagen-proceso.png" alt="imagen sobre el proceso de reserva.">
                    <div class="proceso-pasos">
                        <div class="paso">
                            <p>Agenda tu cita</p>
                        </div>
                        <div class="flecha-proceso">➔</div>
                        <div class="paso">
                            <p>Cuéntanos sobre tu mascota</p>
                        </div>
                        <div class="flecha-proceso">➔</div>
                        <div class="paso">
                            <p>Trae a tu mascota</p>
                        </div>
                        <div class="flecha-proceso">➔</div>
                        <div class="paso">
                            <p>Recibe tratamiento</p>
                        </div>
                        <div class="flecha-proceso">➔</div>
                        <div class="paso">
                            <p>Seguimiento continuo</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    </main>

    <main id="contenido-dashboard">
        <section class="dashboard-dueno">
            <h2>¡Bienvenido de vuelta!</h2>
            <h3>Tus Mascotas Registradas</h3>

            <div class="grid-mascotas" id="contenedor-mascotas"></div>

            <button class="btn-reserva">Agendar nueva cita</button>
        </section>
    </main>

    <footer>
        <p>&copy; Copyright Ctrl+PET 2026</p>
    </footer>
    <script src="/js/app.js" type="module"></script>
</body>
</html>