<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ctrl + PET - Perfil</title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    </style>

  <link rel="stylesheet" href="/styles/styles.css">

</head>
<body id="perfil-html">

  <header>
    <div class="logo">
      <img src="/imgs/iconos/logo.png" alt="logo de ctrl+PET.">
    </div>

    <input type="checkbox" id="anvorguesa">
        <label for="anvorguesa" class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </label>

    <nav class="header-nav">
      <a href="/">Inicio</a>
      <a href="/servicios">Servicios</a>
      <a href="/contacto">Contacto</a>
      <a href="/perfil">Perfil</a>
    </nav>
    <div class="botones-header">
      <a class="btn-cerrar-sesion" id="btn-cerrar-sesion">Cerrar Sesión</a>
    </div>
  </header>


  <main class="contenido-perfil">

    <input type="radio" id="tab-perfil" name="tabs-navegacion" checked class="tab-control">
    <input type="radio" id="tab-mascotas" name="tabs-navegacion" class="tab-control">
    <input type="radio" id="tab-citas" name="tabs-navegacion" class="tab-control">

    <div class="perfil-nav">
      <label for="tab-perfil" class="menu-item">
        <img src="imgs/iconos/icono-perfil-usuario.png" alt="icono de perfil"/>
        <p>Mi Perfil</p>
      </label>

      <label for="tab-mascotas" class="menu-item">
        <img src="imgs/iconos/icono-perfil-mascotas.png" alt="icono-mascotas"/>
        <p>Mis Mascotas</p>
      </label>

      <label for="tab-citas" class="menu-item">
        <img src="imgs/iconos/icono-perfil-citas.png" alt="icono-citas"/>
        <p>Mis Citas</p>
      </label>

    </div>

    <div class="main-panel">

      <div class="seccion-panel" id="seccion-perfil">
        <h2>MI PERFIL</h2>
        <div id="contenido-perfil">
          <div class="datos-usuario">
            <div><label>Nombre:</label><input type="text" id="nombre-perfil" placeholder="nombre ejemplo"  disabled></div>
            <div><label>Apellido Paterno:</label><input type="text" id="apellido-paterno-perfil" placeholder="apellido ejemplo"  disabled></div>
            <div><label>Apellido Materno:</label><input type="text" id="apellido-materno-perfil" placeholder="apellido ejemplo"  disabled></div>
            <div><label>Correo electrónico:</label><input type="email" id="correo-perfil" placeholder="correo ejemplo" disabled></div>
            <div><label>Teléfono:</label><input type="text" id="telefono-perfil" placeholder="numero ejemplo" disabled></div>

          </div>
          <div class="der-main-panel">
            <img id="imagen-usuario" src="imgs/iconos/icono-perfil-usuario.png" alt="imagen del usuario">
            <a class="btn-editar-perfil" id="btn-editar-perfil">Editar Perfil</a>
          </div>
        </div>
      </div>

      <div class="seccion-panel" id="seccion-mascotas">
        <h2>MIS MASCOTAS</h2>

        <div class="arriba-menu-mascotas">

          <div class="seleccionador-mascota">
            <label for="mascota-select">Mascota</label>
            <select name="mascota" id="mascota-select">
            </select>
          </div>

          <div class="botones-mascotas">
            <label for="control-modal-mascota" class="btn-continuar" id="btn-abrir-modal-mascota">Agregar Mascota</label>
            <input type="checkbox" id="control-modal-mascota" class="modal-switch" hidden>

            <div class="modal-overlay">
              <div class="modal-caja-ancha">

                <h3>Nueva Mascota</h3>

                <form class="form-modal-ancho" id="form-agregar-mascota">
                  <div class="form-grupo">
                    <label>Nombre:</label>
                    <input type="text" id="modal-nombre" required placeholder="Ej. Pelusa">
                  </div>

                  <div class="form-grupo">
                    <label for="modal-especie">Especie: </label>
                    <select id="modal-especie" name="modal-especie" required>
                      <option value="">Selecciona una especie...</option>
                      <option value="perro">Perro</option>
                      <option value="gato">Gato</option>
                      <option value="roedor">Roedor</option>
                      <option value="ave">Ave</option>
                    </select>
                  </div>

                  <div class="form-grupo">
                    <label for="modal-raza">Raza:</label>
                    <select id="modal-raza" name="modal-raza" required>
                      <option value="">Selecciona una raza...</option>
                      <option value="Pequeña">Pequeña</option>
                      <option value="Mediana">Mediana</option>
                      <option value="Grande">Grande</option>
                    </select>
                  </div>

                  <div class="form-grupo">
                    <label>Fecha de Nacimiento:</label>
                    <input type="date" id="modal-fecha-nacimiento" required>
                  </div>

                  <div class="form-botones">
                    <button type="submit" class="btn-continuar">Guardar Mascota</button>
                    <label for="control-modal-mascota" class="btn-anterior">Cancelar</label>
                  </div>
                </form>
              </div>
            </div>
            <a href="reserva.html" class="btn-continuar" id="btn-agendar-cita-mascota">Agendar Cita</a>
          </div>

        </div>

        <div class="dashboard-mascota">

          <div class="info-izquierda">
            <div id="contenedor-mascota">
              <div class="foto" id="foto-mascota">
                <img src="" alt="foto de mascota">
              </div>
              <div class="nombre-raza">
                <h3 id="nombre-mascota-dashboard">nombre mascota ejemplo</h3>
                <p><span id="raza-mascota-dashboard">raza ejemplo</span>&bull; <span id="edad-mascota-dashboard">n años</span></p>
              </div>
            </div>
          </div>
          <div class="tarjetas">
            <div class="tarjeta-info">
              <div class="tarjeta-header">
                <h4>Citas</h4>
              </div>
              <div class="tarjeta-body" id="citas-mascota-body"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="seccion-panel" id="seccion-citas">
          <h2>MIS CITAS</h2>
          <div class="texto-header">
            <h3>Todas las citas</h3>
          </div>

        <div class="buscador-citas">
          <form id="buscadorPorFecha">
            <div>
              <label for="buscar-desde">Buscar desde: </label>
              <input type="date" id="buscar-desde">
            </div>
            <div>
              <label for="buscar-hasta">Buscar hasta: </label>
              <input type="date" id="buscar-hasta">
            </div>
            <div id="botones-busqueda">
              <button type="submit" class="btn-registrarme">Aplicar Filtros</button>
              <a id="limpiarFiltros" class="btn-cerrar-sesion">Limpiar Filtros</a>
            </div>
          </form>
        </div>
        <div class="citas-body">
          <div class="info-izquierda-mascotas">

          </div>
          <div class="area-tabla">

            <table class="tabla-citas" id="tabla-citas">
              <thead>
              <tr>
                <th>Mascota</th>
                <th>Fecha y Hora</th>
                <th>Servicio</th>
                <th>Veterinario</th>
                <th>Costo</th>
                <th>Estado</th>
              </tr>
              </thead>
              <tbody id="tabla-citas-body">
              
              <tr>
                <td>Suzy</td>
                <td>22/06/2026</td>
                <td>11:30 am</td>
                <td>Consulta</td>
                <td>Dr. María López</td>
                <td>$300</td>
                <td>Activa</td>
              </tr>
              <tr>
                <td>Luna</td>
                <td>15/04/2026</td>
                <td>10:00 am</td>
                <td>Estética y Baño</td>
                <td>Dr. María López</td>
                <td>$450</td>
                <td>Completada</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
    <script src="/js/app.js" type="module"></script>
  </main>
  <footer>
    <p>&copy; Copyright Ctrl+PET 2026</p>
  </footer>

</body>
</html>