<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Ctrl + PET - Agendar Cita</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
        </style>
    
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body id="reserva-html" class="pagina-citas">
    <input type="checkbox" id="menu-toggle" hidden>
    <header>
        <div class="logo">
            <img src="/imgs/iconos/logo.png" alt="logo de ctrl+PET.">
        </div>

        <input type="checkbox" id="anvorguesa">
        <label for="anvorguesa" class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="header-nav">
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/servicios}">Servicios</a>
            <a th:href="@{/contacto}">Contacto</a>
        </nav>
        <div class="botones-header" th:if="${dueno != null}">
            <a th:href="@{/logout}" class="btn-cerrar-sesion">Cerrar Sesión</a>
        </div>
        <div class="botones-header" th:unless="${dueno != null}">
            <a th:href="@{/login}" class="btn-login">Iniciar Sesión</a>
            <a th:href="@{/registro}" class="btn-register">Registrarse</a>
        </div>
    </header>
    <main>
      <section class="contenedor-reserva-logueado" th:if="${dueno != null}" >
            <div class="imagen-reserva-logueado">
                <p>¡Estamos ansiosos por verte!</p>
                <img th:src="@{/imgs/otras/imagen-agendarConLogin.png}" alt="Veterinaria con un gatito">
            </div>

          <form class="formulario-reserva-logueado">

                <h2>Agendar Cita</h2>

                <div class="campo-formulario">
                    <label for="mascota">Mascota</label>
                    <select id="mascota" name="idMascota" required>
                        <option th:each="mascota : ${listaMascotas}"
                                th:value="${mascota.idMascota}"
                                th:text="${mascota.nombre}">
                        </option>
                    </select>
                </div>

                <div class="campo-formulario">
                    <label for="sucursal">Sucursal:</label>
                    <select name="idSucursal" id="sucursal" required>
                        <option value="" disabled selected>Selecciona una sucursal</option>
                        <option th:each="sucursalesDisponibles : ${listaSucursales}"
                                th:value="${sucursalesDisponibles.idSucursal}"
                                th:text="${sucursalesDisponibles.nombre}">
                        </option>
                    </select>
                </div>

                <div class="campo-formulario">
                    <label for="servicio">Servicio:</label>
                    <select id="servicio" name="servicio" required>
                        <option value="" disabled selected>Selecciona un servicio...</option>
                        <option th:each="servicio : ${listaServicios}"
                                th:value="${servicio.idServicio}"
                                th:text="${servicio.tipo}">
                        </option>
                    </select>
                </div>

                <div class="campo-formulario">
                    <label for="fecha">Fecha</label>
                    <input type="date" id="fecha" name="fecha" required>
                </div>

                <div class="campo-formulario" id="campo-hora-logueado">
                    <label for="hora">Hora disponible:</label>
                    <select id="hora" name="hora" >
                        <option value="" disabled selected>Selecciona una hora</option>
                    </select>
                </div>

                  <button type="submit" class="btn-agendar" id="btn-agendar-logueado">
                      Agendar mi Cita
                  </button>
                <p id="mensaje-reserva-logueado"></p>
            </form>
        </section>

       <section class="contenedor-reserva-sin-login" th:unless="${dueno != null}">

            <div class="imagen-reserva-sin-login">
                <p>¿Cambiaste de opinión y sí deseas un expediente digital para tu mascota?  <a th:href="@{/registro}">¡Regístrate!</a></p>
                <img src="imgs/otras/imagen-reserva-sinLogin.png" alt="Perro parado en dos patas">
            </div>
            <input type="checkbox" id="control-modal-reserva" class="modal-switch" checked hidden>

                <div class="modal-overlay">
                    <div class="modal-caja">
                        
                        <p><span>💡Tip</span>: Te recomendamos registrarte primero.
                             Al hacerlo, crearemos un expediente digital para tu mascota donde se guardarán 
                             automáticamente sus resultados médicos, laboratorios y recordatorios de salud. 
                             ¡Ideal para llevar su historial sin papeleos!</p>
                        <div class="form---es-reserva">
                            <label for="control-modal-reserva" class="btn-no-registrarme">Continuar sin registrarme</label>
                            <a th:href="@{/registro}" class="btn-registrarme">¡Registrarme y Agendar!</a>

                        </div>
                       
                    </div>
                </div>

            
            <form class="formulario-reserva-sin-login" >
                    <div class="campo-formulario">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Ej. Luis" required>
                    </div>
                    <div class="campo-formulario">
                        <label for="apellidoPaterno">Apellido Paterno:</label>
                        <input type="text" id="apellidoPaterno" name="apellidoPaterno" placeholder="Ej. Pérez" required>
                    </div>
                    <div class="campo-formulario">
                        <label for="apellidoMaterno">Apellido Materno:</label>
                        <input type="text" id="apellidoMaterno" name="apellidoMaterno" placeholder="Ej. Gonzáles" required>
                    </div>
                    <div class="campo-formulario">
                        <label for="telefono">Teléfono</label>
                        <input type="tel" id="telefono" name="telefono" placeholder="Ej. 6441234567" required>
                    </div>
                    <div class="campo-formulario">
                        <label for="nombre-mascota">Nombre de tu mascota:</label>
                        <input type="text" id="nombre-mascota" name="nombreMascota" placeholder="Ej. Oreo" required>
                    </div>
                    <div class="campo-formulario">

                    <label for="tipo-mascota">Tipo de mascota</label>
                    <select id="tipo-mascota" name="especieMascota" required>
                        <option value="">Selecciona un tipo...</option>
                        <option value="perro">Perro</option>
                        <option value="gato">Gato</option>
                        <option value="roedor">Roedor</option>
                        <option value="ave">Ave</option>
                    </select>
                    </div>

                    <div class="campo-formulario">
                    <label for="raza-mascota">Raza de tu mascota:</label>
                     <select id="raza-mascota" name="razaMascota" required>
                        <option value="">Selecciona una raza...</option>
                        <option value="Pequeña">Pequeña</option>
                        <option value="Mediana">Mediana</option>
                        <option value="Grande">Grande</option>
                    </select>
                    </div>
                    
                    <div class="campo-formulario">
                    <label for="sucursalSinLogin">Sucursal:</label>
                    <select id="sucursalSinLogin" name="idSucursal" required>
                       <option value="" disabled selected>Selecciona una sucursal...</option>
                        <option th:each="sucursal : ${listaSucursales}"
                                th:value="${sucursal.idSucursal}"
                                th:text="${sucursal.nombre}"></option>
                    </select>
                    </div>
                    
                    <div class="campo-formulario">
                    <label for="servicioSinLogin">Servicio:</label>
                    <select id="servicioSinLogin" name="idServicio" required>
                        <option value="" disabled selected>Selecciona un servicio...</option>
                        <option th:each="servicio : ${listaServicios}"
                                th:value="${servicio.idServicio}"
                                th:text="${servicio.tipo}"></option>
                    </select>
                    </div>

                     <div class="campo-formulario">
                    <label for="fechaSinLogin">Fecha</label>
                    <input type="date" id="fechaSinLogin" name="fecha" required>
                    </div>

                <div class="campo-formulario" id="campo-hora-sin-login">
                    <label for="horaSinLogin">Hora disponible</label>
                    <select id="horaSinLogin" name="hora">
                        <option value="" disabled selected>Selecciona una hora</option>
                    </select>
                </div>

                <p id="mensaje-reserva" ></p>

                <button type="submit" id="btn-agendar-sin-login" class="btn-agendar">
                    Agendar mi Cita
                </button>

            </form>

        </section>
      <div id="modal-reserva-exitosa" class="modal-reserva" style="display:none;">
    <div class="modal-contenido">
        <img src="imgs/iconos/huella.png" alt="huella check">
        <h2>¡Reserva creada con éxito!</h2>
        <p><strong>Fecha:</strong> <span id="modal-fecha"></span></p>
        <p><strong>Servicio:</strong> <span id="modal-servicio"></span></p>
        <p><strong>Precio:</strong> <span id="modal-precio"></span></p>
        <p><strong>Estado:</strong> <span id="modal-estado"></span></p>
        <button id="btn-cerrar-modal-exito">Aceptar</button>
    </div>
</div>

<div id="modal-reserva-error" class="modal-reserva" style="display:none;">
    <div class="modal-contenido">
        <h2>¡Ocurrió un error, verifica tus datos!</h2>
        <button id="btn-cerrar-modal">Aceptar</button>
    </div>
</div>

    </main>
    <footer>
        <p>&copy; Copyright Ctrl+PET 2026</p>
    </footer>
    <script src="/js/app.js" type="module"></script>
</body>
</html>