<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ctrl + PET - Servicios</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
        </style>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>

    <header>
        <div class="logo">
            <img src="/imgs/iconos/logo.png" alt="logo de ctrl+PET.">
        </div>

        <input type="checkbox" id="anvorguesa">
        <label for="anvorguesa" class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="header-nav">
            <a href="/">Inicio</a>
            <a href="/servicios">Servicios</a>
            <a href="/contacto">Contacto</a>
        </nav>
        <div class="botones-header">
            <a href="/login" class="btn-login">Iniciar Sesión</a>
            <a href="/registro" class="btn-register">Registrarse</a>
        </div>
    </header>

    <main>
        <section class="grid-servicios">
            <div id="nuestros-servicios">
                <h1>Todos nuestros servicios al alcance de tu mano.</h1>
                <a href="/reserva" class="btn-agenda">Reserva ahora</a>
                <div id="imagen-servicios">
                    <img src="/imgs/otras/imagen-servicios.png" alt="imagen de una veterinaria con un labrador.">
                </div>
            </div>


            <div id="contenedor-servicios"></div>
            <div id="modal-galeria" class="modal">
                <span class="cerrar-modal">&times;</span>
                <h2 id="modal-titulo-servicio"></h2>
                <div class="contenedor-imagenes-modal" id="imagenes-modal-lista">
                </div>
            </div>

        </section>
    </main>

    <footer>
        <p>&copy; Copyright Ctrl+PET 2026</p>
    </footer>

    <script src="/js/pages/servicios.js"></script>
</body>
</html>